{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": "babel-runtime",
        "corejs": false,
        "helpers": true,
        "regenerator": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": "defaults"
    }]
  ]
}
